/* Fontes */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&family=Oswald:wght@200..700&display=swap");

/* Root */
:root {
  --primary-color: #fff;
  --secondary-color: #000;
  --tertiary-color: #117050;
  --input-border-color: #b3b3b3;
  --button-color: #454545;

  --primary-font: "Open Sans", sans-serif;
  --secondary-font: "Oswald", sans-serif;

  --font-size-default: 1rem;
  --font-size-large: 2.25rem;
  --font-size-extra-large: 6rem;

  --line-height-default: 1.1;
  --line-height-large: 1.6;
}

/* Geral */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1140px;
  margin: auto;
}

.flex {
  display: flex;
}

body {
  font-family: var(--primary-font);
  font-size: var(--font-size-default);
  background-color: var(--primary-color);
  height: 100vh;
}

/* Header */
header {
  border-top: 10px solid var(--tertiary-color);
  padding: 20px;
}

header > .flex {
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  width: 64px;
  height: 64px;
}

.header-logo img {
  width: 100%;
}

.header-menu {
  gap: 80px;
}

.header-menu__search {
  display: flex;
  align-items: center;
  border: 1px solid var(--input-border-color);
}

.header-menu__search-icon {
  width: 36px;
  padding: 10px;
}

.header-menu__search img {
  width: 16px;
}

.header-menu__search input {
  border: none;
  outline: none;
  font-size: var(--font-size-default);
  padding-left: 10px;
}

.header-menu__icon {
  align-items: center;
  width: 24px;
}

.header-menu__icon img {
  width: 100%;
}

/* Main */
#hero {
  background-image: url(../images/background1.jpg);
  background-size: cover;
  background-position: center;
}

.hero {
  flex-direction: column;
  justify-content: center;
  gap: 38px;
  margin: 64px 0;
  padding-left: 25px;
  width: 100%;
}

.hero h1 {
  display: inline-block;
  font-family: var(--secondary-font);
  font-size: var(--font-size-extra-large);
  max-width: 530px;
  line-height: var(--line-height-default);
}

.hero__images {
  margin: 24px 0;
  width: 160px;
  gap: 40px;
}

.hero__images img {
  width: 100%;
  border-radius: 50%;
  border: 6px solid var(--tertiary-color);
}

/* Main grids */
.area-1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.area-1__description {
  padding: 40px;
  margin: auto;
}

.bar {
  width: 170px;
  height: 20px;
  background-color: var(--tertiary-color);
  margin-bottom: 10px;
}

.area-1__description h2 {
  font-family: var(--secondary-font);
  font-size: var(--font-size-large);
  text-transform: capitalize;
  max-width: 440px;
  line-height: var(--line-height-default);
}

.quote {
  margin-top: 20px;
  font-style: italic;
}

.area-1__description p {
  line-height: var(--line-height-large);
  margin-top: 30px;
  max-width: 450px;
}

.area-1__description a {
  display: inline-block;
  margin: 55px 0;
  padding: 10px 30px;
  color: var(--button-color);
  text-decoration: none;
  border: 2px solid var(--button-color);
  border-radius: 5px;
  letter-spacing: 1px;
}

.area-1__description a:hover {
  display: inline-block;
  color: var(--primary-color);
  background-color: var(--button-color);
}

.area-1__primary-image {
  grid-row: 1 / 3;
  grid-column: 2 / 3;
  background-image: url(../images/foto1.jpg);
  background-size: cover;
  background-position: center;
}

.area-1__secondary-image {
  background-image: url(../images/foto2.jpg);
  background-size: cover;
  background-position: center;
  min-height: 347px;
}
